<head xmlns="http://www.w3.org/1999/html">

  <%= stylesheet_link_tag "application" %>

  <title>The Physics Machine</title>
</head>


<body>
<div class="container">
  <div class="row" id="top_row">   <!-- Top Row -->
    <div class="col-md-12"></div>
  </div>
  <div class="row" id="second_row">                     <!-- 2nd row -->
    <div class="col-md-2"></div>
    <div class="col-md-6"></div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">                     <!-- Middle Row -->
    <div class="col-md-12" id="main_title">
      <%= link_to "/index/index" do
        image_tag("main_title_bar_code.png",
                  onmouseover: "this.src='#{asset_path('main_title_bar_code_hover.png')}'",
                  onmouseout: "this.src='#{asset_path('main_title_bar_code.png')}'")
      end %>
    </div>
  </div>
  <div class="row">                     <!-- 4th Row -->
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
  <div class="row" id="main_bottom_row">    <!-- Bottom Row -->
    <div class="col-md-12"></div>
  </div>
</div>
</body>

