<head xmlns="http://www.w3.org/1999/html">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag "application" %>

  <title>The Physics Machine</title>
</head>


<body>
<div class="container">
  <div class="row" id="main_top_row">   <!-- Top Row -->
    <div class="col-md-12"></div>
  </div>
  <div class="row">                     <!-- 2nd row -->
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">                     <!-- Middle Row -->
    <div class="col-md-12" id="main_title">
      <%= image_tag("main_title_bar_code.png", :onmouseover => "main_title_01.png") %></br>
      <%= link_to "Time Dilation", "/time_dilation/time_dilation" %>
      <%= link_to "Length Contraction", "/length_contraction/length_contraction" %>
    </div>
  </div>
  <div class="row">                     <!-- 4th Row -->
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
  <div class="row" id="main_bottom_row">    <!-- Bottom Row -->
    <div class="col-md-12"></div>
  </div>
</div>
</body>

