
<head xmlns="http://www.w3.org/1999/html">

  <%= stylesheet_link_tag "application" %>

  <title>The Physics Machine</title>
</head>


<body>
<div class="container">
  <div class="row" id="top_row">   <!-- Top Row -->
    <div class="col-md-12"></div>
  </div>
  <div class="row" id="second_row">                     <!-- 2nd row -->
    <div class="col-md-3">MATH</div>
    <div class="col-md-3" id="physics_logo">
      PHYSICS
    </div>
    <div class="col-md-3">ASTRONOMY</div>
    <div class="col-md-3">CHEMISTRY</div>
  </div>
  <div class="row">                     <!-- Middle Row -->
    <div class="col-md-12" id="main_title">
      <%= image_tag("main_title_bar_code.png") %>
    </div>
  </div>
  <div class="row">                     <!-- 4th Row -->
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
  <div class="row" id="main_bottom_row">    <!-- Bottom Row -->
    <div class="col-md-12"></div>
  </div>
</div>
</body>

