// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top_row {
  height: 50px;
}

#second_row {
  height: 100px;
  align-content: center;
  text-align: center;
}

#physics_logo {
  text-align: center;
}