// Place all the styles related to the Projectile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#free_fall_form {
  text-align: right;
  margin-right: 0.5em;
  display: block;
}